html{
			box-sizing: border-box;
		}
		body{
			margin:0;
			background: #d8d8d8;
			font-family: 'Lato';
		}

		nav span, nav i{
			cursor: pointer;
		}
		.resultsItem{
			max-width: 100%;
			height: 4em;
			background:#EDEDED;
			padding: 10px;
			border-bottom: 1px #fff solid;
			position: relative;
			display: -webkit-flex;
		     flex-direction: row;
			-webkit-justify-content: center;
			-webkit-align-items: center;
			-webkit-align-content: center;
			
			display: flex;
		     flex-direction: row;
			 justify-content: center;
			 align-items: center;
			 align-content: center;

		}
		
		.resultsItem .resultsItemLeft{
			-webkit-align-content: flex-start;
			-webkit-justify-content: flex-start;
                      align-content: flex-start;
                      justify-content: flex-start;
		}
		
		.resultsItem .resultsItemLeft img{
			border-radius: 3em;
		}
		
		.resultsItem .resultsItemRight{
			-webkit-flex:1 45%;
			flex: 1 45%;
			-webkit-align-content: flex-start;
			align-content: flex-start;
			color:#484647;
			margin-left: 1em;
			font-family: 'Lato';
			font-size: 1.5em;

			
		}
		
		.resultsItemRight span{
			color:#9B9290;
			font-size: .5em;
			
		}
		
		.farRightAdd{
			display: -webkit-flex;
			display: flex;
			margin-right: .5em;
		}
		
		.farRightAdd span{


			color:#54494B;
			font-size: 2em;
			cursor: pointer;
		}
		
		nav{
			height:3em;
			width:100%;
			background: #EF5550;
			display: -webkit-flex;
			  -webkit-flex-direction: row;
			  -webkit-justify-content: space-around;
			  -webkit-align-items: center;
			  display:flex;
			  flex-direction: row;
			  justify-content: space-around;
			  align-items: center;
			  
			  
		}
		

		nav a {
			text-decoration: none;
			font-family: 'pacifico';
			-webkit-flex:1;
			flex:1;
			color:#FBFBFB;
		}

		nav span{
			margin-left: 1em;
			color:#FBFBFB;
			font-family:'Pacifico';
			-webkit-flex: 1;
			flex:1;
		}
		
		
		#searchContainer{
			display: flex;
			flex-direction: row;
			width: 100%;
			overflow-y: hidden;
			height: 3.5em;
			position: relative;
		}
		
		#searchButton{
			width:6em;
			height: 5em;
			padding: 0;
			margin: 0;
			border: none;
			background:#484647;
			outline: none;
			color:#fff;
			cursor: pointer;
			position: absolute;
			top:0;
			right:0;
		}
		
		#searchButton i{
			  font-size: 2em;
		}

		
		#searchInput{
  width: calc(100%);
  height: 100%;
  		border: none;
  		background: #FBFBFB;
  		outline: none;
  		margin: 0;
		outline:none;
		font-size-adjust: auto;
			padding: 0;
			font-size: 1.3em;
			padding-left: .5em;
			
		}
	
		
		#nextStep{
  display: -webkit-flex;
			display: flex;
  -webkit-flex-direction: row;
			flex-direction: row;
  max-width: 100%;
  height: 4.5em;
			background: #8786BB;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-21%,rgba(84,84,84,1)), color-stop(10%,rgba(255,255,255,0)));
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
		}
		
		#nextStep button{
			 width:6em;
	border: none;		background:#7EBC89;
			height: 100%;
			padding: 0;
  margin: 0;
			position: absolute;
			top:0;
			right:0;
			transition: .25s;
			cursor: pointer;

		}

		#nextStep button:hover{
			width:100%;
		}
		
		
		
		#nextStep button i{
color:#FBFBFB;
font-size: 2em;

			
		}
		
		#artistsLeft{
			align-self: flex-start;
			align-self: center;
			font-family: 'Lato';
			justify-content: space-around;
			flex:1;
				flex-wrap: nowrap;
	overflow:hidden;
			height: 4.5em;
			width:100%;
		}
		
		#artistsLeft img{
			padding: .5em;
			align-self: flex-start;
		}
		
		#artistsRight{
			align-self: flex-end;
			margin-right: -.1em;
		}
		
		#headphones{
   height: 100%;
  margin: 0px auto;
  display: table;
  position: relative;
  font-size: 7em;
  color: #676767;
  text-shadow: 2px 2px #EDEDED;
  	
		}

.playerImage{
	overflow: hidden;
}
.playerBlurry{
  height: 100VMAX;
  width: 100%;
   background-size: cover;
  background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
}

progress{
	-webkit-appearance:none;
	width:100%;
	height:.5em;
	border-radius:1.25em;
	overflow: hidden;
	
}


progress[value]::-webkit-progress-value{
	background: #444;
	background-image:linear-gradient(45deg, #EF5550, #f8e12b);
	/*transition: .2s;*/
}

.cardStack{
	font-family: 'Lato';
}

.player{
	height: calc(100% - 3em);
  overflow-y: hidden;
}

.playerImage{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.playerControls{
	width: 100%;
	position: relative;
	padding: 1em;
}

.playerInfo{
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

.playerInfo span{
	font-size: 10vmin;
	text-align: center;
	color:#fff;
}

.playerSmall{
	background:rgba(81,81,81,.2);
	height:em;
	width:100%;
	padding: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0em;
	box-sizing: border-box;
	left:0;
}

.playerSmall .artist{
	
}
.playerSmall .album{
	font-size: 1em;
}

.playerButtons{
	 display: -webkit-flex;
	 display: flex;
	 -webkit-flex-direction: row;
	 -webkit-justify-content: space-around;
       flex-direction: row;
       justify-content: space-around;
	 padding-top: 1.25em;
	 width: 100%;
	
}

.playerButtons .fa-heart:hover{
	color:#EF5550;
}

.playerButtons .fa-thumbs-o-down:hover{
	
}

.playerButtons i{
	color:#FBFBFB;
	font-size:4.6vmax;
	cursor: pointer;

}

body{
	height: 100%;
	width: 100%;
}

.loginMain{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #EF5550;
	display: flex;
	flex-direction: column;
}

.loginMain h1{
	font-family: 'Pacifico';
	color:#fff;
	text-align: center;
	font-size: 3.25em;
}

.loginMain div div{
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	align-self: center;
	
}

.loginMain .buttonContainer{
	width:100%;
	flex-direction: row;
	justify-content: space-around;
}

.loginMain button{
  align-self: center;
  width: 40vmax;
  height: 5em;
  background: none;
  border: 3px solid #fff;
  color: #fff;
  text-align: center;
  position: relative;
  margin: 0px auto;
  display: table;
  margin-bottom: 2em;
  font-size: 1em;
  padding: 0em;
  outline: none;
  transition: .5s;
	cursor: pointer;
}

.loginMain button:hover{
	border-radius: 10em;
}

.resultsItemC{

}
.resultsItemC.ng-enter, 
.resultsItemC.ng-leave
{ 
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    position: relative;
    display: block;
} 

.resultsItemC.ng-enter-stagger{
    transition-delay: 0.1s;
}
 
.resultsItemC.ng-enter.ng-enter-active, 
.resultsItemC.ng-leave {
    opacity: 1;
}
 
.resultsItemC.ng-leave.ng-leave-active,
.resultsItemC.ng-enter {
    opacity: 0;
}

.artistHover{
-webkit-filter: brightness(1);
  transition: .25s;
  width: 4.5em;
  height: 100%;
  position: relative;
  display: inline-flex;

}

.artistHover img{
	transition: .25s;
	outline: none;
}

.artistHover span{
  position: absolute;
  top: 4;
  right: .5em;
  font-size: 3.25em;
	opacity: 0;
	transition: .25s;
}

.artistHover:hover > img{
  -webkit-filter: brightness(.2);
}

.artistHover:hover > span{
	color:#fff;
	cursor: pointer;
	opacity: 1;
}


.artistHover span{
	position: absolute;
}
	