<div ng-controller="search">
			<div id="searchContainer">
			<input placeholder="What Artists Are You Diggin?" id="searchInput" ng-model="searchParams"  type="text" ng-keyup="search()"/>
			<button id="searchButton" ng-click="search()"><i class="fa fa-search"></i></button>
			</div>
			<div id="nextStep" ng-show="myList.length > 0">

				<div id="artistsLeft">
					<div ng-click="removeItem($index)" class="artistHover" ng-repeat="results in myList" >
						<img ng-show="{{results.images[1].hasOwnProperty('url') == true}}"  class="resultArtistImage" style="border-radius:3em;" height="60px" width="60px" ng-src="{{results.images[1].url}}"/>
						<div ng-show="{{results.images.length == 0}}" class="resultArtistImage"style="height:60px;width:60px;background:#484647;border-radius:3em;margin-top:.25em;"><i class="fa fa-headphones" style="  position: absolute;left: .8em;font-size: 1.5em;top:.9em;color: #FBFBFB;"></i></div>
						<span>-</span>
					</div>  
				</div>
				
				<div id="artistsRight">
					<button ng-click="completeArtists()"> <i class="fa fa-arrow-right"></i> </button>
				</div>
			</div>
			
			<div ng-repeat="results in searchData" class="resultsItemC">
				<div class="resultsItem">
					<div class="resultsItemLeft">

						<img class="resultArtistImage" height="60px" width="60px" ng-show="{{results.images[1].hasOwnProperty('url') == true}}" ng-src="{{results.images[1].url}}" alt="artistImage"/>
						<div ng-show="{{results.images.length == 0}}" class="resultArtistImage"style="height:60px;width:60px;background:#484647;border-radius:3em;"><i class="fa fa-headphones" style="  position: absolute;left: 1.2em;font-size: 1.5em;top: 1.2em;color: #FBFBFB;"></i></div>
					</div>
					<div class="resultsItemRight">
						{{results.name}}
						<br />
						<span>{{results.topTracks.tracks[0].name}}</span>
					</div>
					<div class="farRightAdd"><span><i class="fa fa-plus" ng-show="!results.isAdded" ng-click="addItem($index)"></i><i ng-show="results.isAdded" class="fa fa-check" ng-click="removeItem($index)"></i></span></div>
				</div>
			</div>
			<i id="headphones" class="fa fa-headphones"></i>
		</div>
